* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  background: pink;
  background-size: cover;
}
